body{
  background-image: url("../img/betterpic.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  color: white;
}
.list-group-item {
  line-height: 2.5;
}


#logomain {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: #388e3c;
  font-size: 55px;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  color: white;

}

#menu {
  font-family: 'Open Sans', sans-serif;
  /* font-weight: bolder; */
  border-bottom: 3px rgb(161, 161, 161) solid;

}

#topddiv {
  background-color: white;
  height: 60vh;
}

.picture {
  width: 100%;
  display: block;
}

main {
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  flex: 1 0 auto;
} 

.reminder-holder{
  color: #388e3c;
  text-align: center;
  background-color: white;
  width: auto;
  height: auto;
  border: solid 5px black;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
}

.reminder-name{
  background-color: #212121;
  margin: 10px;
}
/* .datepicker{
  color: black;
} */

input{
  color: white;
}

.list{
  text-align: center;
}
.reminder{
  color: black;
  background-color:#212121;
  height: auto;
  margin: 10px 10px;
  padding-bottom: 40px;
}
.reminderTable{
  font-size: 20px;
  color:white;
  text-align: center;
  background-color: #388e3c;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid 5px gray;
}

.hackimg{
  margin: 10px 10px;
  border: solid 5px #388e3c;
  background-color: white;
  z-index: 9999;
}

.page-footer{
  position: sticky;
  margin-top:10px;
}

.modal-content {
  color: black;
  background-color: #388e3c;
}